*{
    margin: 0;
    padding: 0;    
    box-sizing: border-box;
}

.logo{
    text-align: end;
    line-height: 0;
    background-color: #D9D9D9;
}

.logo img{
    width: 80px;
}

.container{
    display: flex;
    
}

aside{
    background-color: #6A4B87;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

nav{
    width: 100%;
    height: 50%;
}


nav ul li{
    font-size: 1.2rem;
    color: white;
    padding: 15px;
    text-align: center;
}

nav ul li:hover{
    background-color: #A683C6;
    transition: ease-in-out 0.7s;
    cursor: pointer;
}

nav ul li a{
    text-decoration: none;
    color: white;
}

.destaques{
    text-align: center;
    background-color: #000000;
}
.destaques img{
    height: 400px;
}

h2{
    color: #6A4B87;
    text-align: center;
    margin: 40px;
}

.box-servicos{
    width: 900px;
    min-height: 400px;
    font-size: 0.9rem;
    margin: 10px auto;  
    display: flex;
    justify-content: space-evenly;
}

.box-servicos article{
    width: 230px;
    height: 220px;
    background-color: #D9D9D9;
    border-radius: 25px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
}

.box-servicos article img{
    width: 70px;
}

.box-servicos article p{
    text-align: center;
    color: #6A4B87;
    margin: 0 10px;
}

.box-servicos article span{
    text-align: center;
    color: #6A4B87;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
    margin: 20px;
}


main{
    flex: 1;
}

footer{
    width: 400px;
    display: flex;
    justify-content: space-evenly;
    margin: 40px auto;
    padding: 10px;
    background-color: #D9D9D9;
    border-radius: 15px;
}

footer img{
   width: 30px;
   cursor: pointer;
}

.box-emprestimos{
    width: 600px;
    min-height: 220px;
    font-size: 0.9rem;
    margin: 10px auto;  
    display: flex;
    justify-content: space-evenly;
}

.box-emprestimos article{
    width: 230px;
    height: 170px;
    background-color: #D9D9D9;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
}

.box-emprestimos article p{
    text-align: center;
    color: #6A4B87;
    margin: 10px;
}

.box-emprestimos article span{
    text-align: center;
    color: #6A4B87;
    font-weight: bold;
    cursor: pointer;
}

h3{
    color: #6A4B87;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 10px;
    padding: 10px;
}

.simulador{
    width: 450px;
    margin: 30px auto;
    padding: 30px;
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #6A4B87;
    background-color: #D9D9D9;
}

.simulador select{
    width: 180px;
    padding: 6px;
    border-radius: 10px;
    color:#6A4B87
}


button, button a{
    background-color: #6A4B87;
    color: rgb(255, 255, 255);
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    border: none;
    text-decoration: none;
    width: 200px;
    margin: 10px auto;
}

.campo{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-left: 105px;
}

input[type="radio"] {
    accent-color: #6A4B87;
}

#consignado{
    margin-left: 30px;
}

.resultado {
    width: 180px;
    padding: 5px;
    border: 1px solid #B9A8C7;
    background-color: white;
    color: #6A4B87;
}

.faq{
    width: 450px;
    min-height: 300px;
    margin: 30px auto;
}
details {
    margin-bottom: 10px;
    border-radius: 2px;
    overflow: hidden;
}

summary {
    background-color: #6A4B87;
    color: white;
    padding: 15px;
    cursor: pointer;
    font-weight: bold;
}

details p {
    padding: 15px;
    border: 1px solid #B9A8C7;
    background-color: #D9D9D9;
    color: #6A4B87;
}
